@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);

@font-face {
    font-family: "AnekTamil-Medium";
    src: url("../fonts/AnekTamil-Medium.ttf");
}

@font-face {
    font-family: "AnekTamil-Regular";
    src: url("../fonts/AnekTamil-Regular.ttf");
}

@font-face {
    font-family: "AnekTamil-SemiBold";
    src: url("../fonts/AnekTamil-SemiBold.ttf");
}

body {

    header {
        position: relative;
        background-color: white;

        .headerUp {
            height: 60px;
            align-items: center;

            .logo {
                h3 {
                    font-family: 'Cherry Swash';
                    font-style: italic;
                    font-weight: bold;
                    letter-spacing: 3px;
                }
            }

            .menu {
                .ulMenu {
                    display: flex;
                    list-style: none;
                    justify-content: space-around;

                    li {
                        a {
                            text-decoration: none;
                            color: #6E7286;
                            transition: .3s;
                        }

                        a:hover {
                            text-decoration: none;
                            color: #2EDC87;
                        }
                    }
                }

                .ulMenuIcons {
                    display: flex;
                    list-style: none;
                    justify-content: end;

                    @media only screen and (max-width: 820px) {
                        & {
                            justify-content: end;
                            margin-top: 5px;
                        }
                    }

                    li {
                        color: #2EDC87;
                        margin: 0 10px;

                        @media only screen and (max-width: 820px) {
                            & {
                                margin: 0 5px;
                            }
                        }

                        a {
                            text-decoration: none;
                        }

                        i {
                            font-size: 20px;
                            color: #2EDC87;
                            margin-top: 4px;
                            transition: .3s;

                            @media only screen and (max-width: 820px) {
                                & {
                                    font-size: 15px;
                                }
                            }
                        }

                        i:hover {
                            color: #6E7286;
                        }

                        i.hamburger {
                            font-size: 30px;
                            color: #6E7286;
                        }

                        i.hamburger:hover {
                            color: #2EDC87;
                        }
                    }
                }
            }
        }
    }

    #FruitCustomize {
        .customizeAndImage {
            display: flex;
            justify-content: space-between;

            .customizeImage {
                background-image: url("../images/SliderLogo.png");
                background-repeat: no-repeat;
                width: 100%;

                @media only screen and (max-width: 820px) {
                    & {
                        height: 600px;
                        background-size: 100%;
                    }
                }
                @media only screen and (max-width:391px) {
                    & {
                        height: 330px;
                        background-size: 100%;
                    }
                }

                .button {
                    margin-top: 25px;
                    display: none;
                    text-align: end;
                    position: relative;
                    top: 500px;

                    @media only screen and (max-width: 820px) {
                        & {
                            background-size: 100%;
                            display: block;
                        }

                        button {
                            color: #6E7286;
                            border-radius: 30px 0 0 30px;
                            padding: 10px 12px;
                            font-size: 17px;
                            border: none;
                            transition: .3s;

                            &:hover {
                                background-color: white;
                                color: #2EDC87;
                            }

                            i {
                                font-size: 15px;
                                margin: 7px 0 7px 10px;
                            }
                        }

                    }

                    @media only screen and (max-width: 391px) {
                        & {
                            top: 230px;
                        }

                        button {
                            color: #6E7286;
                            border-radius: 30px 0 0 30px;
                            padding: 5px 12px;
                            font-size: 13px;
                            border: none;
                            transition: .3s;

                            &:hover {
                                background-color: white;
                                color: #2EDC87;
                            }

                            i {
                                font-size: 12px;
                                margin: 7px 0 7px 10px;
                            }
                        }

                    }
                }
            }

            .customizeText {
                background-color: #23BE7B;
                width: 778px;
                height: 618px;

                .text-button {
                    position: relative;
                    top: 100px;
                    left: 20px;
                    color: #126940;

                    .text {
                        p {
                            font-family: AnekTamil-Regular;
                        }

                        h1 {
                            font-size: 60px;
                            font-family: AnekTamil-SemiBold;
                        }
                    }

                    .button {
                        margin-top: 25px;

                        button {
                            color: #6E7286;
                            border-radius: 30px;
                            padding: 13px 20px;
                            border: none;
                            transition: .3s;
                            font-family: AnekTamil-Medium;

                            &:hover {
                                background-color: white;
                                color: #2EDC87;
                            }

                            i {
                                margin: 7px 10px;
                            }
                        }
                    }

                }
            }
        }
    }

    #SpecialOffers {
        .specialTitle {
            h1 {
                font-family: AnekTamil-SemiBold;
                color: #23BE7B;
                @media only screen and (max-width: 820px) {
                    & {
                      text-align: center;
    
                    }
                }
            }
        }

        .seeMore {
            text-align: end;

            @media only screen and (max-width: 820px) {
                & {
                    margin-top: 0;
                    text-align: center;
                }
            }

            p {
                a {
                    color: #2EDC87;
                }
            }

        }

        .image-info {
            margin-top: 25px;
            .image-icon {
                position: relative;
                width: 288px;

                .image {
                    img {
                        width: 288;
                        height: 268px;
                    }

                }

                .heartIcon {
                    padding: 10px;
                    background-color: #F6F7F9;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 12px;

                    i {
                        font-size: 20px;
                        color: #8A8FA5;
                        transition: .3s;
                    }

                    i:hover {
                        color: #2EDC87;
                    }
                }
            }

            .info {
                width: 288px;
                background-color: #F9F9F9;
                padding: 6px;

                .rating {
                    display: flex;
                    color: #2EDC87;

                    .star-icon {
                        padding: 0 7px;
                    }
                }

                .name-comp {
                    h3 {
                        color: #525666;
                        font-family: AnekTamil-SemiBold;
                    }

                    p {
                        color: #8A8FA5;
                        font-family: AnekTamil-Regular;
                    }
                }

                .dollar-price {
                    color: #6E7286;
                    font-family: AnekTamil-SemiBold;
                }
            }
        }
    }
}